
p.toc1 { font: 10pt/12pt sans-serif;
margin: 0 0 0 12pt ; text-indent: -12pt ; background: silver }

p.toc1x { font: 10pt/12pt sans-serif;
margin: 0 0 0 12pt ; text-indent: -12pt ; background: white }

p.toc2 { font: 10pt/12pt sans-serif;
margin: 0 0 0 18pt ; text-indent: -12pt ; background: silver }

p.toc2x { font: 10pt/12pt sans-serif;
margin: 0 0 0 18pt ; text-indent: -12pt ; background: white }

p.toc3 { font: 10pt/12pt sans-serif;
margin: 0 0 0 24pt ; text-indent: -12pt ; background: silver }

p.toc3x { font: 10pt/12pt sans-serif;
margin: 0 0 0 24pt ; text-indent: -12pt ; background: white }

p.toc4 { font: 10pt/12pt sans-serif;
margin: 0 0 0 30pt ; text-indent: -12pt ; background: silver }

p.toc4x { font: 10pt/12pt sans-serif;
margin: 0 0 0 30pt ; text-indent: -12pt ; background: white }

p.toc5 { font: 10pt/12pt sans-serif;
margin: 0 0 0 36pt ; text-indent: -12pt ; background: silver }

p.toc5x { font: 10pt/12pt sans-serif;
margin: 0 0 0 36pt ; text-indent: -12pt ; background: white }

th.nav { font: 9pt/11pt sans-serif;
margin: 0 2 0 2pt ; background: silver }

th.navx { font: 9pt/11pt sans-serif;
margin: 0 2 0 2pt ; background: white }

td.navx { font: 10pt/12pt sans-serif;
margin: 0 2 0 2pt ; background: white }

